---
# tasks file for osp.servers
- name: Create new server instances and attaches them a network and passes metadata to the instance
  os_server:
    cloud: "{{ osp_cloud }}"
    name: "{{ osp_server.name }}"
    image: "{{ osp_server.image }}"
    meta: "{{ osp_server.meta }}"
    flavor: "{{ osp_server.flavor }}"
    security_groups: "{{ osp_server.security_groups }}"
    key_name: "{{ osp_server.key_name }}"
    nics:
    - net-name: "{{ osp_server.network }}"

- name: Add floating IP to Servers
  os_floating_ip:
    cloud: "{{ osp_cloud }}"
    state: present
    reuse: yes
    server: "{{ osp_server.name }}"
    network: "{{ osp_server.floating_ip_network }}"
    wait: true
    timeout: 180
  register: r_os_floating_ip

- name: Wait for server to be available
  wait_for:
    host: "{{ r_os_floating_ip.floating_ip.floating_ip_address }}"
    port: 22
    search_regex: OpenSSH
    timeout: 600